.tooltipContent {
  @apply absolute hidden left-1/2 -translate-x-1/2 w-48 px-2 py-2 bg-gray-900 bottom-full;
  @apply rounded-lg text-center text-white text-sm pointer-events-none mb-2;

  &::after {
    content: '';
    position: absolute;

    bottom: -5%;
    left: 50%;

    transform: translateX(-50%) rotateZ(45deg);

    width: 1em;
    height: 1em;
    z-index: -1;

    @apply bg-gray-900;
  }
}
