# Node
**/node_modules/**

# Legacy - Keep this for a while, since people might still have this folder
**/.next/**

# Docusaurus
.docusaurus/**
build/**

# Tests
coverage/**

# Use stylelint instead
*.less
*.css
*.scss
