.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  margin-bottom: -98px; /* main padding + footer */

  .menuStructure {
    border-right: 1px solid rgba(0,0,0,.1);
  }

  :global(.ant-layout-sider-zero-width-trigger-left) {
    position: absolute;
    top: 0;
    right: 0;
    height: 42px;
    width: 100%;
    text-align: right;
    will-change: right, width;
    transition: right 0.3s ease, background-color 0.3s ease, width 0.1s linear;
  }

  &:global(.ant-layout-sider-zero-width) > :global(.ant-layout-sider-zero-width-trigger-left) {
    width: 42px;
    right: -30px;
    will-change: right, width;
    transition: right 0.3s ease, background-color 0.3s ease, width .3s ease-out;
  }

  :global(.ant-layout-sider-zero-width-trigger-right) {
    position: absolute;
    top: 0;
    left: 0;
    height: 42px;
    width: 100%;
    text-align: left;
    will-change: left, width;
    transition: left 0.3s ease, background-color 0.3s ease, width 0.1s linear;
  }

  &:global(.ant-layout-sider-zero-width) > :global(.ant-layout-sider-zero-width-trigger-right) {
    width: 42px;
    left: -30px;
    will-change: left, width;
    transition: left 0.3s ease, background-color 0.3s ease, width .3s ease-out;
  }

  :global(.ant-layout-sider-zero-width-trigger) > :global(.anticon) {
    width: 32px;
  }

  &:global(.ant-layout-sider-below) > :global(.ant-layout-sider-children) {
    height: 100%;
    margin-top: -0.1px;
    padding-top: 42.1px;
  }

  :global(.ant-menu-item .ant-input-search .anticon),
  :global(.ant-menu-submenu-title .ant-input-search .anticon) {
    margin-right: 0;
  }
}
