.stickyRow:global(.ant-table-row.ant-table-row-level-0) > :global(td) {
  position: sticky;
  top: 99px; /* height of the collapse-item-header + the parent tr > td sticky */
  background-color: rgb(255, 255, 255);
  z-index: 1;
  overflow:hidden;
  box-shadow: 0 0 25px rgba(255,255,255,1), 0 0 15px rgba(255,255,255,1), 0 0 20px rgba(255,255,255,1);
  clip-path: inset(-25px 0 0 0);
}

.expandedContentRow {
}
