.panel :global(.ant-collapse-content) > :global(.ant-collapse-content-box) {
  padding: 0;
}

.panel:global(.ant-collapse-item) > :global(.ant-collapse-header) {
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
  z-index: 4;
}

.panel:global(.ant-collapse-item) :global(.ant-collapse-content .ant-table-header.ant-table-sticky-header) {
  position: sticky;
  top: 45px !important; /* 46 from collapse header -1 for buggy border in dark mode */
}
