@import "../../node_modules/antd/dist/antd.less";

@primary-color: rgb(42, 161, 255);
@layout-header-background: rgb(55, 52, 69);
@layout-header-height: 64px;
@text-color-secondary: rgba(0, 0, 0, 0.45);
@background-color-base: rgb(247, 247, 247);
