*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  background-color: var(--backgroundColor);
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 16px;
}

.ant-typography {
  margin-bottom: 1.5em !important;
}

.ant-code-block {
  margin-bottom: 3rem;
  max-width: 1024px;
}

.ant-typography li {
  margin-bottom: 0.75em !important;
}

.ant-typography ol,
.ant-typography ul,
.ant-typography dl {
  margin-top: 0.75em;
  margin-bottom: 1.5em;
}

h5.ant-typography,
.ant-typography h5 {
  font-size: 18px;
  color: rgba(88, 88, 88, 0.75);
}

h6.ant-typography,
.ant-typography h6 {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.75);
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-disabled {
  color: var(--textColorSecondary) !important;
}
