.logo {
  height: 62px;
  margin: 0 28px;
  float: left;
}

.ant-breadcrumb {
  padding: 16px 16px 16px 24px;
  border-bottom: 1px solid #f0f0f0;
}

.ant-layout-sider {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  margin-bottom: -94px; /* main padding + footer */
  background: rgb(240, 242, 245);
}

.ant-menu {
  background: none;
}

.ant-menu-sub.ant-menu-inline {
  background: none;
}

.ant-anchor-wrapper {
  background: none;
}

.ant-anchor-wrapper .ant-anchor-ink::before {
  background: rgba(0,0,0,.05);
}

.page {
  padding: 24px 48px;
  min-height: 280px;
  transition: width 0.3s ease;
}
.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border-right: 1px solid rgba(0,0,0,.1);
}

.ant-layout-sider-zero-width-trigger-left {
  position: absolute;
  top: 30px;
  right: 0;
  height: 42px;
  width: 100%;
  text-align: right;
  will-change: right, width;
  transition: right 0.3s ease, background-color 0.3s ease, width 0s ease;
}

.ant-layout-sider-zero-width > .ant-layout-sider-zero-width-trigger-left {
  width: 42px;
  right: -30px;
  will-change: right, width;
  transition: right 0.3s ease, background-color 0.3s ease, width 0.3s ease;
}

.ant-layout-sider-zero-width-trigger-right {
  position: absolute;
  top: 30px;
  left: 0;
  height: 42px;
  width: 100%;
  text-align: left;
  will-change: left, width;
  transition: left 0.3s ease, background-color 0.3s ease, width 0s ease;
}

.ant-layout-sider-zero-width > .ant-layout-sider-zero-width-trigger-right {
  width: 42px;
  left: -30px;
  will-change: left, width;
  transition: left 0.3s ease, background-color 0.3s ease, width 0.3s ease;
}

.ant-layout-sider-zero-width-trigger > .anticon {
  width: 42px;
}

.ant-layout-sider-below > .ant-layout-sider-children {
  height: 100%;
  margin-top: 30px;
  padding-top: 42px;
}

.ant-menu-item .ant-input-search .anticon,
.ant-menu-submenu-title .ant-input-search .anticon {
  margin-right: 0;
}

.ant-menu-submenu-title .versionSelect {
  opacity: 0.25;
  will-change: opacity;
  transition: opacity 0.3s ease;
  outline: none;
  border: 1px solid;
  border-radius: 3px;
}

.ant-menu-submenu-title:hover .versionSelect {
  opacity: 1;
}

.ant-anchor-link-title {
  padding-bottom: 2px;
}
