.navBar {
  width: 100%;
  z-index: 50; // Stay above ant components

  &.sticky {
    position: sticky;
    top: 0;
  }

  .brand {
    height: 100%;
    margin: 0 28px;
    float: left;
  }

  .menu {
    position: relative;
    display: flex;
    justify-content: left;
  }
}
