.markdown > table {
  width: 100%;
  max-width: 1024px;
  margin: 8px 0 16px;
  direction: ltr;
  empty-cells: show;
  border: 1px solid #f0f0f0;
  border-collapse: collapse;
  border-spacing: 0;
}

.markdown > table th,
.markdown > table td {
  padding: 8px 24px;
  text-align: left;
  border: 1px solid #f0f0f0;
}

.markdown > table th {
  color: #5c6b77;
  font-weight: 500;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.02);
}

@media only screen and (max-width: 992px) {
  .markdown > table {
    margin-left: -45px;
    margin-right: -45px;
    width: calc(100% + 90px);
  }

  .markdown > table td {
    padding: 8px 4px;
  }

  .markdown > .code-block {
    margin-left: -45px;
    margin-right: -45px;
    width: calc(100% + 90px);
  }
}
