.markdown {
  :global(table) {
    width: 100%;
    max-width: 1024px;
    margin: 8px 0 16px;
    direction: ltr;
    empty-cells: show;
    border: 1px solid #f0f0f0;
    border-collapse: collapse;
    border-spacing: 0;
    transition: margin 0.3s ease, width 0.3s ease;
  }

  :global(table th),
  :global(table td) {
    padding: 8px 24px;
    text-align: left;
    border: 1px solid #f0f0f0;
    transition: padding 0.3s ease, width 0.3s ease;
  }

  :global(table th) {
    color: #5c6b77;
    font-weight: 500;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.02);
  }

  .blockquote {
    font-style: italic;
    border-left-color: rgba(0, 0, 0, 0.3) !important;
  }

  .blockquote :global(.ant-typography) {
    color: rgba(0, 0, 0, 0.6);
  }

  .codeBlock {
    max-width: 1024px;
    background: rgb(40 42 54);
    color: rgba(255, 255, 255, 0.75);
    transition: margin 0.3s ease, width 0.3s ease;
  }

  .heading:not(:global(h1)) {
    position: relative;
    padding-left: 1em;
    margin-left: -1em;
  }

  .heading > .anchor {
    position: absolute;
    left: 0;
    top: 0;
    color: rgb(150, 150, 150);
    opacity: 0;
    cursor: pointer;
    will-change: opacity;
    transition: opacity 0.3s ease;
    outline: none;
  }

  .heading:hover > .anchor {
    opacity: 1;
  }

  .list {
  }

  .listItem {
  }

  @media only screen and (max-width: 992px) {
    :global(table) {
      margin-left: -40px;
      margin-right: -40px;
      width: calc(100% + 80px);
    }

    :global(table th),
    :global(table td) {
      padding: 8px 4px;
    }

    .codeBlock {
      margin-left: -40px;
      margin-right: -40px;
      width: calc(100% + 80px);
    }
  }
}
