.ourVisionSection {
  min-height: 100vh;

  :global(.ant-typography) {
    color: var(--brand-primary-brighter);
  }
}

.visualRepresentationOfWhatWeDoSection {
  background: var(--brand-secondary);

  :global(.ant-typography) {
    color: var(--brand-tertiary);
  }
}

.codeExamplesSection {
  background: var(--brand-primary);
  color: var(--ifm-navbar-background-color);
}

.gallerySection {}


.versionsSection {
  min-height: 100vh;
  justify-content: flex-start;
}
